.App {
  display:  flex;
  flex-direction: row-reverse;
  text-align: center;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
